@extends('layouts.app')
@section('content')
<h1>Confirm delete {{ entity['name'] }} id {{ '{{' }} ${{ entity['name'] }}->id {{ '}}' }}</h1>
{% set vars = {'type': 'destroy'} %}
{% include 'views/confirm.twig' with vars %}
@endsection
