@extends('layouts.app')
@section('content')
<div class="w-4/5 lg:w-2/5 mx-auto">
<h1>Edit {{ entity['name']}} id {{ '{{' }} ${{ entity['name'] }}->id {{ '}}' }}</h1>
{% set vars = {'type': 'update'} %}
{% include 'views/inputs.twig' with vars %}
</div>
@endsection
