@extends('layouts.app')
@section('content')
<h1 class="mb-8">index of {{ entity['name'] }}</h1>
{{ '{{' }} ${{ plural }}->links() {{ '}}' }}
<table>
  <thead>
    <tr>
{% for attribute in entity['attributes'] %}
      <th>{{ attribute['name'] }}</th>
{% endfor %}
    </tr>
  </thead>
  <tbody>
@foreach (${{ plural }} as ${{ camelCase }})
    <tr>
{% for attribute in entity['attributes'] %}
      <td>{{ '{{' }} ${{ camelCase }}->{{ attribute['name'] }} {{ '}}' }}</td>
{% endfor %}
    </tr>
@endforeach
  </tbody>
</table>

{{ '{{' }} ${{ plural }}->links() {{ '}}' }}
@endsection
