@extends('layouts.app')
@section('content')
<h1 class="mb-8">index of {{ entity['name'] }}</h1>
<ul>
  <li>
    <ul>
{% for attribute in entity['attributes'] %}
      <li>{{ attribute['name'] }}</li>
{% endfor %}
    </ul>
  </li>
@foreach (${{ plural }} as ${{ camelCase }})
  <li>
    <ul>
{% for attribute in entity['attributes'] %}
      <li>{{ '{{' }} ${{ camelCase }}->{{ attribute['name'] }} {{ '}}' }}</li>
{% endfor %}
    </ul>
  </li>
@endforeach
</ul>
@endsection
