@extends('layouts.app')
@section('content')
<h1 class="mb-8">index of {{ entity['name'] }}</h1>
<table>
  <thead>
    <tr>
{% for attribute in entity['attributes'] %}
      <th>{{ attribute['name'] }}</th>
{% endfor %}
    </tr>
  </thead>
@foreach (${{ plural }} as ${{ camelCase }})
  <tbody>
    <tr>
{% for attribute in entity['attributes'] %}
      <td>{{ '{{' }} ${{ camelCase }}->{{ attribute['name'] }} {{ '}}' }}</td>
{% endfor %}
    </tr>
  </tbody>
@endforeach
</table>
@endsection
