  <form method="post" action="{{ '{{' }} $submitUrl {{ '}}' }}">
  {% verbatim %}{{ csrf_field() }}{% endverbatim %}
{% for attribute in entity.attributes %}
    <div class="mt-8">
      <label for="{{ attribute.name }}">{{ attribute.name }}</label>
      @foreach ($errors->get('{{ attribute.inputName }}') as $error)
      <div class="text-red-500">{{ '{{' }} $error {{ '}}' }}</div>
      @endforeach
{% if attribute.inputType is same as('textarea') %}
      <textarea name="{{ attribute.inputName }}" id="{{ attribute.inputName }}">{{ '{{' }} old('{{ attribute.inputName }}') ?? ${{ entity.name }}->{{ attribute.name }} {{ '}}' }}</textarea>
{% elseif attribute.inputType is same as('select') %}
      <select name="{{ attribute.inputName }}" id="{{ attribute.inputName }}">
        <option>Select {{ attribute.inputName }}</option>
{% set belongsTo = entity.belongsToEntities|filter(v => attribute.inputName matches '/' ~ v.name ~ '/')|first %}
@foreach (App\Models\{{ belongsTo.modelName }}::all() as ${{ belongsTo.name }})
        <option value="{{ '{{' }} ${{ belongsTo.name }}->id {{ '}}' }}" @if (${{ belongsTo.name }}->id == (old('{{ attribute.inputName }}') ?? ${{ entity.name }}->{{ attribute.name }})) {{ 'selected' }} @endif>
          {{ '{{' }} ${{ belongsTo.name }}->id {{ '}}' }}
        </option>
@endforeach
      </select>
{% else %}
      <input
        type="{{ attribute.inputType }}"
        name="{{ attribute.inputName }}"
        id="{{ attribute.inputName }}"
        value="{{ '{{' }} old('{{ attribute.inputName }}') ?? ${{ entity.name }}->{{ attribute.name }} {{ '}}' }}"
      >
{% endif %}
    </div>
{% endfor %}
    <div class="mt-8">
      <input type="submit" value="Confirm {{ type|capitalize }}">
      <a href="{{ '{{' }} $backUrl {{ '}}' }}">Cancel</a>
    </div>
  </form>
