@extends('layouts.app')
<h1>Create new {{ entity['name'] }}</h1>
<form method="post" action="{{ baseUri }}/createConfirm">
  {% verbatim %}{{ csrf_field() }}{% endverbatim %}
{% for attribute in entity['attributes'] %}
  <div>
    <label for="{{ attribute['name'] }}">{{ attribute['name'] }}</label>
{% if attribute.inputType is same as('textarea') %}
    <textarea name="{{ attribute['inputName'] }}" id="{{ attribute['inputName'] }}">{{ '{{' }} ${{ entity['name'] }}->{{ attribute['name'] }} ?? '' {{ '}}' }}</textarea>
{% else %}
    <input
      type="{{ attribute.inputType }}"
      name="{{ attribute['inputName'] }}"
      id="{{ attribute['inputName'] }}"
      value="{{ '{{' }} ${{ entity['name'] }}->{{ attribute['name'] }} ?? '' {{ '}}' }}"
    >
{% endif %}
  </div>
{% endfor %}
  <div>
    <input type="submit" value="Create">
    <a href="{{ baseUri }}">Cancel</a>
  </div>
</form>
