@extends('layouts.app')
<h1>Detail of {{ entity['name'] }} id {{ '{{' }} ${{ entity['name'] }}->id {{ '}}' }}</h1>
<ul>
{% for attribute in entity['attributes'] %}
  <li>{{ attribute['name'] }}: {{ '{{' }} ${{ entity['name'] }}->{{ attribute['name'] }} {{ '}}' }}</li>
{% endfor %}
</ul>
